@import '~color';

.index-page {
  height: 100%;
  background: url("/images/index_bg.png") no-repeat;
  background-color: #3E4652;

  .login-box {
    margin-top: 100px;
  }
}

.index-header {
  width: 100%;

  .logo {
    position: absolute;
    left: 0;
    top: 12.5px;

    width: 120px;
    height: 25px;

    background: url("/images/logo_reverse.png") no-repeat;
    background-size: auto 25px;

    &.logo-haier {
      background-image: url("/images/logo_haier_reverse.png");
    }
  }

  .header-nav {
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-size: 14px;

    > li {
      display: inline-block;
      margin-left: 50px;

      > a {
        color: $white;
      }
    }
  }
}
