@import '~color';

.login-box {
  background-color: rgba(50,50,50,0.6);
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
  text-align: center;
  button {
    width: calc(100% - 80px);
    height: 30px;
    margin: 0 40px 20px 40px;
    color: #fff;
    border: none;
    background: rgba(70,175,95,0.9);
  }
  .register-button {
    background: rgba(61,139,226,0.9);
    margin-bottom: 30px;
    &:hover{
      background: #fff;
      color: #1eb6f8;
    }
  }
  //修改login的tab样式
  .ant-tabs-nav{
    width: 100%;
    .ant-tabs-ink-bar {
      background: #fff;
    }
    .ant-tabs-tab {
      width: 50%;
      color: #fff;
      padding: 10px 0;
      margin-right: 0;
    }
  }

  //
  .ant-form-explain {
    top: 16px !important;
  }

  .login-form {
    margin: 40px 40px 40px 40px;

    .login-form-item {
      padding: 10px 10px 8px 45px;
      position: relative;

      .ant-form-item-control {
        line-height: inherit;
        position: relative;
      }
      .ant-form-explain {
        position: absolute;
        top: 26px;
        left: 0;
        line-height: 26px;
        margin-top: 0;
      }
    }
    .item-icon {
      color: $white;
      font-size: 16px;
      line-height: 26px;
      position: absolute;
      left: 10px;
    }
    .item-input-wrap {
      margin-bottom: 0;
    }
    .item-input {
      border: none;
      color: $white;
      background-color: transparent;
      padding: 0;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }
    .login-form-item-separater {
      margin-left: 65px;
      border-top: 1px solid $dark;
    }
  }
}

