@import '~color';
.dynamic-nodes {
  .network {
    width: 100%;
    height: 500px;
    position: relative;
  }
}

.node-show {
  z-index: 2;
  .ant-btn {
    background-color: $white;
    position: relative;
    padding-left: 30px;
    border-radius: 2px;
    &.ant-btn-ghost {
      border-style: dashed;
      border-color: $dark;
      margin-right: 5px;
      -webkit-transition: border-color 0.3s;
      transition: border-color 0.3s;
      &:hover {
        border-color: $blue;
      }
      &.active {
        border-color: $blue;
        -webkit-transition: border-color 0.3s;
        transition: border-color 0.3s;
      }
    }
    img {
      position: absolute;
      top: 8px;
      left: 10px;
      height: 12px;
      width: 12px;
    }
  }
}

.node-operate {
  line-height: 28px;
  z-index: 2;
  float: right; // 隐藏button的时候继续再右边
  .iconfont {
    cursor: pointer;
    color: $color-text-secondary;
    margin-right: 5px;
    &.active {
      color: $blue;
    }
  }
}
