@import "~color";
$btn-blue: #069bff;

.nav-guide {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 660px;
  .nav {
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: HiraginoSansGB-W3;
    overflow: hidden;
    display: flex;
    position: relative;
    height: 40px;
    width: 220px;

    &.active {
      .circle-name{
        background-color: $btn-blue;
        border-color: $btn-blue;
      }
      .rect {
        color: $btn-blue;
        border-color: $btn-blue;
      }
      .circle-cover {
        border-color: $btn-blue;
      }
    }
    &.finish {
      .circle-name {
        background-color: $white;
        border-color: $btn-blue;
      }
      .icon-success {
        font-size: 22px;
        color: $btn-blue;
      }
      .rect {
        background-color: $btn-blue;
        color: $white;
        border-color: $btn-blue;
      }
      .circle-cover {
        border-color: $btn-blue;
      }
    }

    >div {
      height: 40px;
      border: 1px solid $color-border;
      position: absolute;
    }
  }

  .nav-log {
    z-index: 0;
  }
  .nav-join {
    z-index: 1;
    left: -6px;
  }
  .nav-finish {
    z-index: 2;
    left: -12px;
  }


  .circle-name {
    background-color: $color-border;
    width: 40px;
    border-radius: 40px;
    color: $white;
    left: 0px;
    z-index: 2;
  }
  .rect {
    background-color: $white;
    width:200px;
    left: 20px;
    z-index: 1;
  }
  .circle-cover {
    background-color: $white;
    width: 40px;
    border-radius: 20px;
    left: 200px;
    z-index: 2;
  }
}
