@import "~color";
.register-div {
  .ant-input {
      border-radius: 0px;
  }
  .ant-form-item-control {
    width: 300px;
    >span>input {
      height: 40px;
    }
  }
  .ant-form-item-label {
    height: 40px;
    line-height: 40px;
    padding: 0;
  }
  .account {
    .code {
      display: flex;
      .ant-input-wrapper {
        width: 200px;
        .code-content{
          height: 40px;
        }
      }
      .btn-verific {
        width: 100px;
        height: 40px;
        border-radius: 0;
        position: relative;
        left: -1px;
      }
    }
    .passwd-test {
      display: flex;
      margin-top: 10px;
      .weak, .middle, .high {
        height: 18px;
        width: 90px;
        line-height: 18px;
        text-align: center;
        color: $white;
        &.inactive{
          background-color: $color-border;
        }
      }
      .weak {
        background-color: #F0C84A;
      }
      .middle {
        background-color: #A5D42F;
        margin-left: 15px;
        margin-right: 15px;
      }
      .high {
        background-color: #84CF68;
      }
    }
  }

  .join-company {
    .select-row{
      .select-company {
        width: 300px;
        >div {
          height: 40px;
          border-radius: 0;
        }
        .ant-select-selection__rendered, .ant-select-selection-selected-value {
          height: 40px;
          width: 300px;
        }
        .ant-select-selection-selected-value {
          line-height: 40px;
        }
      }
    }
    .annotation-row {
      color: $darkgray;
      margin-top: 10px;
    }
  }

  .register-finish {
    display: flex;
    margin: 30px auto 500px auto;
    width: 380px;
    font-family: HiraginoSansGB-W3;
    .icon-border {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 1px solid #84cf68;
      margin-right: 19px;
      .icon-success {
        font-size: 35px;
        color: #84cf68;
        margin: 13px;
      }
    }

    .title {
      margin-top: 5px;
      font-size: 18px;
    }
    .redirect {
      margin-top: 20px;
    }
    .index {
      margin-top: 15px;
    }
  }

  .btn-next {
    width: 300px;
    background-color: #069bff;
    color: $white;
    border:1px solid #069bff;
    border-radius: 0;
    padding-bottom: 4px;
  }
}



