@import "~color";

.log-viewer{
  height: 100%;
}

.log-roller {
  height: calc(100% - 50px);
  position: relative;
  min-height: 300px;

  &.showMax{
    position: fixed;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }

  &.darken {
    background-color: #3c444f;
    color: $lightgray;
  }

  .log-content {
    padding: 10px 10px 10px 16px;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 9px;
        height: 9px;
        background-color: transparent;
    }
    /*定义滚动条的轨道，内阴影及圆角*/
    &::-webkit-scrollbar-track{
        border-radius: 5px;
        background-color: transparent;
    }
    /*定义滑块，内阴影及圆角*/
    &::-webkit-scrollbar-thumb{
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
        background-color: white;
    }
    &::-webkit-scrollbar-corner {
      display: none;
      background-color: transparent;
    }
  }

  .log-state {
    color: $darkgray;
  }


  .log-control {
    position: absolute;
    right: 30px;
    bottom: 30px;
    &.log-top-control{
      top: 10px;
      bottom: auto;
    }
    .ant-btn {
      opacity: 0.5;
      > i {
        color: white;
      }

      &:hover {
        border-color: white;
        opacity: 1;
      }
    }
  }
}
