@import "~color";

.official-header {
  height: 80px;
  background-color: $white;
  box-shadow: 0 0 5px #ccc;
  z-index: 1;

  .official-header-box {
    width: 1200px;
    margin: 0 auto;
    position: relative;

    .logo-box {
      float: left;

      .logo {
        display: inline-block;
        width: 128px;
        height: 25px;
        background: url("/images/logo_standard.png") no-repeat;
        background-size: auto 25px;
        margin-top: 27.5px;
      }
    }

    .right-menu-box {
      float: right;
      line-height: 80px;

      .right-menu-navs {
        display: inline-block;
        a {
          font-family: HiraginoSansGB-W3;
          font-size: 18px;
          color: $gray;
          margin-right: 20px;
        }
        .solution {
          padding-left: 25px;
          border-left: 1px solid #ddd;
          margin-left: 5px;
        }
      }
      .right-menu-login {
        display: inline-block;
        margin-left: 20px;

        .header-register, .header-login {
          display: inline-block;
          font-family: HiraginoSansGB-W3;
          font-size: 14px;
          color: $darkgray;
          line-height: normal;
        }
        .header-register {
          margin-right: 10px;
          cursor: pointer;

          .anticon-caret-down {
            font-size: 10px;
          }
        }
        .header-login {

          &:hover {
            color: #069bff;
          }
        }
      }
    }
  }
}
